body,
html,
div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  min-height: 100vmin;
  text-align: center;
  border: 1px solid black;
  background-color: yellow;
}

#container { 
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 17vmin 1fr;
  grid-template-areas: 
    "header header"
    "menu activities";
}

header {
    grid-area: header;
    float: left;
    min-height: 20vmin;
    border: 1px solid black;
    min-width: 20vmin;
    text-align: left;
}

#navBar {
  grid-area: menu;
  min-height: 100vmin;
  background-color: orange;
}

#navBar > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  background-color: blue;
}

#navBar > ul > li {
  min-height: 10vmin;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#navBar > ul > li > a {
  text-decoration: none;
}

#bodyContainer {
  grid-area: activities;
  background-color: green;
}
