body, html, div {
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  width: auto;
  /* overflow: hidden; */
}

.App {
  /* min-height: 100%; */
  /* text-align: center; */
  /* border: 1px solid black; */
  background-color: white;
}

/****************************
SURROUNDING PAGE CONTAINER
*****************************/
#container { 
  
  display: grid;
  grid-template-rows: minmax(100px, auto) minmax(14px, auto) 1fr;
  grid-template-columns: 25% 1fr 1fr;
  
  grid-template-areas: 
    "wv_header wv_header mf_header"
    "menu activities activities"
    ". activities activities";
}

/****************
WONDERVILLE HEADER
*****************/

#wv_header {
    grid-area: wv_header;
    padding: 10px;
    min-height: 20vmin;
    /* border: 1px solid black; */

    min-width: 20vmin;
    text-align: left;
}

#mf_header {
  grid-area: mf_header;
  padding: 10px;
  float: right;
  min-height: 20vmin;
  /* border: 1px solid black; */
  min-width: 20vmin;
  text-align: right;
  /* align-content: right; */
}

#wvimg {
  max-width: auto;
}

#mindfuel_logo {
  align-content: right;
}

/**********
NAV SECTION
***********/
#navBar {
  grid-area: menu;
  background-color: white;
}


#navBar > ul {
  margin: 0;
  list-style-type: none;
  padding: 1px;
  background-color: #551A8B;
}

#navBar > ul > li {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 10vmin;
  border: 1px solid #551A8B;
  background-color: #f7901e;
  height: 10vmin;
}

#navBar > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  font-family: "chevin pro", sans-serif;

}

.menuitem:hover {
  color: white;
  transform: scale(1.1, 1.1);
}

/*********************
****ACTIVITY BODY*****
*********************/

#bodyContainer {
  grid-area: activities;
  display: flex;
  background-color: green;
  /* min-height: 100vmin; */
  max-height: 100vh;
}

#activityArea {
  height: auto;
}

#activityAreaHeader {
  padding: 10px;
}
/******************
RESPONSIVE SECTION
******************/
@media only screen and (max-width: 800px) {
  #container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "menu"
      "activities"
  }
  #navBar {
    grid-column: 1/span2;
    grid-row: 2;
  }
  #bodyContainer {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}


/*****************
ACTIVITY AREA SECTIONS
**********************/

#activityAreaCards {
  overflow: scroll;
  height: 100vh;
  
}