body,
html,
div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  min-height: 100vmin;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

#container { 
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 15vmin 1fr;
  grid-template-areas: 
    "header header"
    "menu activities";
}

header {
    grid-area: header;
    float: left;
    min-height: 20vmin;
    border: 1px solid black;
    min-width: 20vmin;
    text-align: left;
}

#navBar {
  grid-area: menu;
  min-height: 100vmin;
  background-color: white;
}

#navBar > ul {
  
  margin: 0;
  list-style-type: none;
  padding: 0;
  background-color: blue;
}

#navBar > ul > li {
  
  min-height: 10vmin;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7901e;
}

#navBar > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  font-family: "chevin pro", sans-serif;

}
.menuitem:hover {
  color: white;
  transform: scale(1.1, 1.1);
}


#bodyContainer {
  grid-area: activities;
  background-color: green;
}

#wvimg {
  max-width: auto;
}