/* @font-face {
  font-family: "Calibre";
  font-style: normal;
  font-weight: normal;
} */

/* h1 {
  font-family: "Calibre";
  font-weight: 200;
  color: #033819;
} */

/* #container { 
  
  display: grid;
  grid-template-rows: minmax(100px, auto) minmax(14px, auto) 1fr;
  grid-template-columns: 25% 1fr 1fr;
  
  grid-template-areas: 
    "wv_header wv_header mf_header"
    "menu activities activities"
    ". activities activities";
} */
/**************************
//i dont believe the tc needs to be wrapped
//each area can be wrapped which would include the filtercomps and the cardcomp
//*************************
/* .tc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* grid-template-columns: 25% 1fr 1fr 1fr;                 
  /*auto auto auto auto;*/
/* grid-template-rows: 30% auto;
  grid-template-areas: 
    "filterbox filterbox filterbox filterbox"
    "activities activities activities activities" */

.filterComps {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* flex-wrap: wrap; */
  /* display: inline-block;
  min-block-size: 25%; */
}

.heading {
  font-size: 200%;
}

.filterbox {
  color: green;
  width: 25%;
  text-align: left;
  padding: 2px;
  align-content: left;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #000000;
  display: inline-block;
}

.filtertitles {
  color: #570351;
  text-align: center;
}

.search {
  border-color: black;
}
input::placeholder {
  color: green;
  font-size: 0.8em;
  text-align: center;
}

.activityCardComp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .activities {
  grid-area: activities;
} */

.activityScrollDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.card {
  background-color: orange;
  display: flex;
  flex-direction: row;
  border-style: solid;
  padding: 2px;
  margin: 2px;
  /* font-size: 4px; */
  width: 300px;
  height: 150px;
}
.cardimage {
  width: 130px;
  height: 130px;
  padding: 10px;
}

.activityCardName {
  font-size: 20px;
  letter-spacing: normal;

}
