.picContainer {
	max-width: 52vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px;
}

.pixels {

	width: 16vh;
	height: 16vh;
	opacity: 1;
	background-color: black;
	padding: 2px;
	transition: all .2s ease-in-out;
}

.pixels:hover {
	opacity: 0.6;
}

/* body {
	justify-content: center; 
	display: flex; 
} */

/* 
img {
	width: 16vh;
	height: 16vh;
	transition: all .2s ease-in-out;
} */

.nameInput {
	padding: 5px;
	margin: 5px;
}

.clicked {
	opacity: 0.2;
}

/*
.btn {
	color: white;
	width: 10vh;
	height: 5vh;
	margin: 5px;
	background-color: #54237F;
	font-weight: bold;
	border: none;
	transition: all .2s ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}*/
