.activityDiv {
    background-color:  white;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: -2px -1px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 18px -2px rgba(0,0,0,0.75);
box-shadow: -2px -1px 18px -2px rgba(0,0,0,0.75);
}

#activityImage {
    width: 100%;
    border: 1px black solid;
    margin: 20px;
    height: auto;


}

table {
    height: 100%;
    border-spacing: 10px 0px;
    margin: 5px;
    border-style: none;
    border-color: white;
}

table, td, th {
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
}

tr:nth-child(even) {background: #F2E8FA;
color: black;}
tr:nth-child(odd) {background: #FFF;}

#activityCode {
    background-color: white;
  padding: 5px;
  margin: 5px;
  border-color: #532380;
  color: white;
  font-weight: bolder;
  font-size:50pt;
  background-color:#532380; 
};

.button {
    width: 100px;
}

.topSection{
display: flex;
flex-direction: row;
padding: 40px;
}

.image {
    width: 50%;
    border: 1px black solid;
    margin: 20px;
}


.textField {
    height: 100%;
    margin: 20px;
}

