body, html, div {
  padding: 0;
  margin: 0;
  width: auto;
}

.App {
  /* comment */
}

/****************************
SURROUNDING PAGE CONTAINER
*****************************/
#container { 
  
  display: grid;
  grid-template-rows: minmax(25px, auto) minmax(14px, auto) 1fr;
  grid-template-columns: 25% 1fr 1fr;
  
  grid-template-areas: 
    "wv_header wv_header mf_header"
    "menu activities activities"
    ". activities activities";
  
  padding: 5px;
}

/****************
WONDERVILLE HEADER
*****************/

#wv_header {
    grid-area: wv_header;
    padding: 10px;
    /* min-height: 10vh; */
    /* min-width: 20vw; */
    /* text-align: left; */
}

#mf_header {
  grid-area: mf_header;
  padding: 10px;
  float: right;
  min-height: 10vh;
  min-width: 20vw;
  text-align: right;
}

#wvimg {
  /* max-width: auto; */
}

#mindfuel_logo {
  align-content: right;
}

#studentBtn {
  background: #f7901e;
}

#studentBtn:active {
  background: red;
}

#studentBtn:focus {
  background: red;
}

/**********
NAV SECTION
***********/
#navBar {
  grid-area: menu;
  margin-top: 0px;
}


#navBar > ul {
  margin: 0;
  list-style-type: none;
  padding: 0px;
  font-size: 0;
}

#navBar > ul > li {
  margin: 0px 5px 5px 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 10vmin;
  /* border: 5px solid #f7901e; */
  /* border-radius: 5px; */
  /* box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75); */
}

#navBar > ul > li > a {
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  font-family: "chevin pro", sans-serif;
}

#navBar > ul > li:hover a{
  background-color: #532380;
  color: white;
}

.activeNavLink {
  background-color: #532380;
  color: white;
}

a:focus {  /* need this to override Navlink std color of blue */
  color: white;
}

/*********************
****ACTIVITY BODY*****
*********************/

#bodyContainer {
  grid-area: activities;
  display: flex;
  max-height: 100vh;
}

#activityArea {
  height: auto;
}

#activityArea hr {
  border: 0;
  margin: 0;
  height: 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#activityAreaHeader {
  margin: 0;
  padding: 10px;
}
/******************
RESPONSIVE SECTION
******************/
@media only screen and (max-width: 800px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "header2"
      "menu"
      "activities"
  }

  #wv_header {
    grid-area: header;
    grid-row: 1;
  }

  #mf_header {
    grid-area: header2;
    /* grid-column: 1; */
    display: none;
  }
  #navBar {
    grid-area: menu;
    grid-row: 2;
  }
  #bodyContainer {
    grid-area: activities;
    grid-row: 3;
  }
}


/*****************
ACTIVITY AREA SECTIONS
**********************/

#activityAreaCards {
  overflow: scroll;
  height: 100vh;
  
}