.filterComps {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 10px;
  justify-content: flex-start;
}

.heading {
  font-size: 200%;
}

.filterbox {
  color: green;
  width: 30%;
  text-align: left;
  padding: 2px;
  margin: 50px;
  align-content: left;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #000000;
  display: inline-block;
}

.filtertitles {
  color: #570351;
  text-align: center;
}

.search {
  border-color: black;
}
input::placeholder {
  color: green;
  font-size: 0.8em;
  text-align: center;
}

.activityCardComp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activityScrollDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 73vw;
  justify-content: flex-start;

}
.card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px 3px #A5A5A5;
  margin: 50px;
  width: 320px;
  height: 230px;
}

.cardimage {
  border-bottom-style: solid;
  border-width: 1px;
}

.activityCardName {
  text-align: center;
  font-family: "Chevin Pro", sans-serif;
  color: #532380;
  background: white;
  
  
  padding: 10px 10px 3px 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;

}

nav {
  border-right-color: #532380;
}
